body{
    max-width: 1285px;
    margin: auto;
    font-family: "Segoe UI";
}
img{
    width: 300px;
    height: 300px;
}
.nav_container{
    display: flex;
    justify-content: space-between;
    font-size: 12px;
    /*padding: 8px 10px;*/
    align-items: center;
    padding-bottom: 24px;

}
.nav_container img{
    width: 12px;
    height: 9px;
    border-radius: 3px;
    border: 1px hsla(0,0%,80%,.48);
    padding-right: 5px;
}
.nav_container .country{
    color: rgb(45, 47, 67);
    display: flex;
}
.nav_container .language{
    margin-right: 32px;
}
.nav_container .country span{
    color: rgb(142, 144, 167);
    padding-left: 5px;
}
.nav_container .help .coupon{
    background-image: linear-gradient(90deg, rgb(240, 98, 146), rgb(142, 98, 220));
    color: white;
    padding: 9px 24px;
    border-radius: 0 0 12px 12px ;
    font-size: 14px;
    display: none;
}
.nav_container .help li, .help li a{
    text-decoration: 0;
    color: rgb(142, 144, 167);
    margin: auto 0;
    padding: 9px 0;
}
.nav_container .help ul{
    display: flex;
    justify-content: space-around;
    grid-gap: 0 32px;
}
.header{
    display: flex;
    justify-content: space-between;
    margin: auto 0;
    text-align: center;
    align-items: center;
}
.header .logo img{
    width: 125px;
    /*padding-right: 30px;*/
    height: auto;
}
.header .box_input{
    background: #f5f6f9;
    display: grid;
    grid-template-columns: auto auto;
    align-items: center;
    border-radius: 10px;
}
.header .input input{
    background: #f5f6f9;
    width: 595px;
    height: 48px;
    border: none;
    color: #8e90a7;
    padding: 0 16px;
    border-radius: 10px;
}
.header .box_input button{
    display: block;
    padding: 14px 18px;
    border: none;
    border-radius: 10px;
    background: #ff6262;
    font-size: 14px;
    font-weight: 600;
    color: white;

}
.header .users ul{
    /*display: grid;*/
    /*grid-template-columns: 1fr 1fr 1fr 1fr;*/
    display: flex;
    justify-content: space-around;
    grid-gap: 35px;
}
.header .users a{
    display: grid;
    grid-template-rows: 1fr 1fr;
    color: #3d3f56;
    text-align: center;
    font-size: 14px;
    font-weight: 600;
    position: relative;
}
.header .users a span{
    font-size: 20px;
    padding-bottom: 8px;
}
.header .users .message{
    position: absolute;
    top: 50px;
    right: 630px;
    background: #ff6262;
    color: white;
    padding: 3px 6px;
    border-radius: 10px;
    font-size: 10px;
    font-weight: 500;
}
.categories ul{
    /*display: grid;*/
    /*grid-template-columns: auto auto auto auto auto auto auto auto auto;*/
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    font-size: 14px;
    padding: 21px 0 32px;
    width: 1284px;
}
.categories li{
    color: #3d3f56;
    white-space: nowrap;
    margin: 8px 0;
    margin-right: 32px;
    display: block;
    width: auto;
}
.categories .category{
    font-weight: 500;
}
.categories .reviews_users{
    font-size: 18px;
    text-decoration: underline;
    color: #ff6262;
}
